* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

.header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.title a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    margin-left: 20px;
}

.title a:hover {
    opacity: 0.7;
}

.nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
    display: inline-block;
}

.nav a:hover {
    opacity: 0.7;
}

.logout-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
}

.logout-button:hover {
    opacity: 0.7;
}
